h1 {
  color: #333;
  font-size: 3rem;
}

.App-header {
  background-color: #222;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 90px;
}

.App-header h1 {
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.App-header nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.App-header nav ul li {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

.App-header nav ul li:hover {
  color: #61dafb;
}

h2 {
  color: #444;
  font-size: 2rem;
  margin-bottom: 20px;
}

.fixtures ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 90px;
}

.fixtures li {
  padding: 10px 0;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.league-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-bottom: 90px;
}

.league-card {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: box-shadow 0.3s ease;
}

.league-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

img {
  width: 100%;
  height: auto;
}

.load-more-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.load-more-button:hover {
  background-color: #21a1f1;
}

@media (max-width: 768px) {
  .App-header h1 {
    font-size: 2rem;
  }

  .league-card {
    width: 150px;
  }

  .App-header nav ul li {
    font-size: 1rem;
  }
}

.active-nav {
  color: #61dafb;
  text-decoration: underline;
}

.App-footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.App-footer p {
  margin: 0;
}

.App-footer a {
  color: #61dafb;
  text-decoration: none;
  font-weight: 600;
}

.App-footer a:hover {
  text-decoration: underline;
}

.App-footer a:focus,
.App-footer a:active {
  outline: none;
  text-decoration: underline;
}
